@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #767272;
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

.header {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 20px 10px 0 10px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    border: #DDDADA solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px #dddada;
}

.banner-header img {
    max-width: 1024px;
}

.logo {
    margin: 17px 0 12px;
}

#cart{
    width: 435px;
    max-height: 505px;
    background: #ffffff;
    flex-direction: row;
    box-shadow: 0 0 10px #dddada;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;

}

.cart-img {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
}

.cart-name {
    width: 100px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: black;
    text-align: center;
}

.cart-price {
    width: 45px;
    height: 19px;
    border-radius: 3px;
    background: #EAF6FF;
    color: #4191ff;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    display: flex;
    justify-content: center;
}
.cart-footer {
    padding: 10px 0 15px;
}

.cart-buy, 
.cart-clear {
    width: 100%;
    height: 48px;
    background: #3c44b1;
    border: none;
    color: white;
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.cart-change {
    width: 20px;
    height: 20px;
    background: #3c44b1;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.cart-remove {
    width: 20px;
    height: 20px;
    background: rgba(248, 50, 69, 0.15);
    border-radius: 2px;
    border: none;
    color: red;
    font-size: 17px;
    cursor: pointer;
}
.cart-amount {
    font-size: 20px;
    font-weight: 700;
    color: #4191ff;
}
.cart-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.cart-image {
    width: 75px;
}

.shopping-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: black;
}

.shopping-description {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.cart-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.filter {
    border: 1px solid #eee;
    width: 1024px;
    height: 60px;
    padding: 20px 20px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
}

.cart-list {
    list-style: none;
}

.cart-list li:hover {
    background: #eee;
    transition: all .3s;
    cursor: pointer;
}
#cartAmountRemove {
    transform: rotate(180deg);
    background: #dddada;
    width: 20px;
    height: 20px;
}
#cartAmountAdd {
    background: #dddada;
    width: 20px;
    height: 20px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal{
    display: block;
    width: 435px;
    max-height: 505px;
    max-width: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }

  .closed {
    display: none;
  }
  
  .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal-guts{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
  }
  
  .modal .close-button {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 15px;
    border: 0;
    background: white;
    color: black;
    padding: 5px 10px;
    font-size: 28px;
    cursor: pointer;
  }

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.search-img {
    width: 25px;
    height: 25px;
}

.search_сontainer {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #dddada;
    padding: 10px 20px;
    height: 60px;
}
.search {
    width: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.shop {
    padding: 1rem;
    max-width: 1024px;
    border: #DDDADA solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px #dddada;
    /* display: flex; */
}

/* ----------Products (card)------------- */

.products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.products-card {
    width: 300px;
    height: 480px;
    border: 1px solid #dddada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    align-items: center;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 5px #dddada;
}

.products-card img {
    width: 160px;
    height: 160px;
}

.products-card li {
    list-style-type: none;
}

.products-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0;
}

.products-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: black;
}

.products-footer {
    padding: 10px 0;
    margin: 0;
    width: 100%;
    
}
.products-like {
    width: 20px;
    
}
.product_buy {
    width: 160px;
    min-height: 50px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: #0E49B5;
    color: white;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    align-self: center;
}

.product_buy:disabled {
    background: #dddada;
    cursor: auto;
}
.product_buy:disabled:hover {
    background: #dddada;
}
.product_buy:hover {
    background:#3c44b1; 
}

.product_buy:before {
	content:"\f07a";
    font-family: FontAwesome;
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}

.product_buy:hover:before {
	left: 7px;
}

.product_info {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.products_info {
    width: 1024px;
    display: flex;
    justify-content: center;
}
.products_info-device {
    display: flex;
    width: 1024px;
    justify-content: space-around;
}
.products_info-header,
.products_info-body,
.products_info-footer {
    width: 300px;
    height: 480px;
}
.products_info-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.products_info-header img {
    width: 250px;
    height: 250px;
    display: flex;
}
.products_info-body h2{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.15;
    color: black;
}
.products_info-footer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.products_info-reviews {
    width: 300px;
    height: 86px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 20px 15px 10px;
    background: #e0e0e0;
}
.products_info-price {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: black;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}