<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>MacOutlet - Main</title>
</head>
<body>
    <header class="header-wrapper">
        <div class="header">
            <img src="img/logo.png" class="logo" alt="Logo">
            <div class="cart">
                <img class="cart-img open-button" src="img/icons/cart.svg" alt="cart" id="open-button" >
                <div class="modal-overlay closed" id="modal-overlay"></div>
                <div class="modal closed" id="modal">
                    <button class="close-button" id="close-button">&times;</button>
                    <div id="cart"></div>
                </div>
            </div>
        </div>
    </header>
    
    <main class="container">
        <div class="super-container">
            <div class="slide-container">
              <div class="carousel-container">
                <div class="myCarousel fade">
                    <img src="img/banners/iphone_12_banner.jpg" alt="banner-header" class="banner">
                </div>
          
                <div class="myCarousel fade">
                    <img src="img/banners/apple_tv_banner.png" alt="banner-header" class="banner">
                    <div class="banner-content">
                        <div class="text">Apple TV</div>
                    </div>
                </div>
          
                <div class="myCarousel fade">
                    <img src="img/banners/airpods_pro_banner.png" alt="banner-header" class="banner">
                    <div class="banner-content">
                        <div class="text">AirPods Pro</div>
                    </div>
                </div>
    
                <div class="myCarousel fade">
                    <img src="img/banners/air_pods_max_banner.jpg" alt="banner-header" class="banner">
                    <div class="banner-content">
                        <div class="text">AirPods Max</div>
                    </div>
                    
                </div>
    
                <div class="myCarousel fade">
                    <img src="img/banners/mac_book_banner.jpg" alt="banner-header" class="banner">
                    <div class="banner-content">
                        <div class="text">Apple MacBook Air</div>
                    </div>
                </div>
    
                <div class="myCarousel fade">
                    <img src="img/banners/watch_banner.jpg" alt="banner-header" class="banner">
                    <div class="banner-content">
                        <div class="text">Apple Watch</div>
                    </div>
                </div>
    
                <div class="myCarousel fade">
                    <img src="img/banners/ipad_air_banner.jpg">
                    <div class="banner-content">
                        <div class="text">IPad Air</div>
                    </div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
              <br>
            </div>
        </div>
        <div class="search_сontainer">
            <div class="search">
                <img src="img/icons/search.svg" class="search-img" alt="search">
                <input type="text" class="filter" id="filter" placeholder="Enter device name...">
            </div>
            <div class="filter_container" id="filter-open">
                <img class="search-filter" src="img/icons/filter.svg" alt="filter">
            </div>
            <div class="settings_container">
                <img class="search-settings" src="img/icons/settings.svg" alt="settings">
            </div>
        </div>

        <div class="shop">
            <div class="shop-filter" id="filterProducts">
                <div class="shopFilter-section">
                    <div class="accordion shopFilter-title">
                        <div class="title">Price</div>
                    </div>
                    <div class="shopFilter shopFilter-price" id="shopFilter-price">
                        <div class="shopFilter-row">
                            <lable>From</lable>
                            <input id="price-from" data-filter="price" data-filter-prop="from" value="0" type="number">
                        </div>
                        <div class="shopFilter-row">
                            <lable>To</lable>
                            <input id="price-to" data-filter="price" data-filter-prop="to" type="number">
                        </div>
                    </div>
                </div>
                
                <div class="shopFilter-section">
                    <div class="accordion shopFilter-title">
                        <div class="title">Color</div>
                    </div>
                    <div class="shopFilter shopFilter-color" id="filterColor">
                        <div class="shopFilter-row">
                            <span><input id="color-red" type="checkbox" name="color-Red">Red</span>
                            <span><input id="color-green" type="checkbox" name="color-Green">Green</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="color-black" type="checkbox" name="color-Black" value="Black">Black</span>
                            <span><input id="color-blue" type="checkbox" name="color-Blue">Blue</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="color-gold" type="checkbox" name="color-Gold">Gold</span>
                            <span><input id="color-white" type="checkbox" name="color-White">White</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="color-grey" type="checkbox" name="color-Grey">Grey</span>
                            <span><input id="color-yellow" type="checkbox" name="color-Yellow">Yellow</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="color-silver" type="checkbox" name="color-Silver">Silver</span>
                            <span><input id="color-graphite" type="checkbox" name="color-Graphite">Graphite</span>
                        </div>
                    </div>
                </div>

                <div class="shopFilter-section">
                    <div class="accordion shopFilter-title">
                        <div class="title">Memory</div>
                    </div>
                    <div class="shopFilter shopFilter-memory" id="filterMemory">
                        <div class="shopFilter-row">
                            <span><input id="storage-32" type="checkbox" name="storage-32" value="32">32 Gb</span>
                            <span><input id="storage-512" type="checkbox" name="storage-512" value="512">512 Gb</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="storage-64" type="checkbox" name="storage-64" value="64">64 Gb</span>
                            <span><input id="storage-1024" type="checkbox" name="storage-1024" value="1024">1 TB</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="storage-128" type="checkbox" name="storage-128" value="128">128 Gb</span>
                            <span><input id="storage-2048" type="checkbox" name="storage-2048" value="2048">2 TB</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="storage-256" type="checkbox" name="storage-256" value="256">256 Gb</span>
                            <span><input id="storage-4096" type="checkbox" name="storage-4096" value="4096">4 TB</span>
                        </div>
                    </div>
                </div>

                <div class="shopFilter-section">
                    <div class="accordion shopFilter-title">
                        <div class="title">OS</div>
                    </div>
                    <div class="shopFilter shopFilter-os" id="filterOS">
                        <div class="shopFilter-row">
                            <span><input id="os-iOS" type="checkbox" name="os-IOS">iOS</span>
                            <span><input id="os-MacOS" type="checkbox" name="os-macOS">Mac OS</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input id="os-tvOS" type="checkbox" name="os-tvOS">tvOS</span>
                            <span><input id="os-watchOS" type="checkbox" name="os-watchOS">Watch OS</span>
                        </div>
                    </div>
                </div>

                <div class="shopFilter-section">
                    <div class="accordion shopFilter-title">
                        <div class="title">Display</div>
                    </div>
                    <div class="shopFilter shopFilter-display" id="filterDisplay">
                        <div class="shopFilter-row">
                            <span><input type="checkbox" id="2-5" name="2-5" value="2-5">2-5 inch</span>
                            <span><input type="checkbox" id="5-7" name="5-7" value="5-7">5-7 inch</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input type="checkbox" id="7-12" name="7-12" value="7-12">7-12 inch</span>
                            <span><input type="checkbox" id="12-16" name="12-16" value="12-16">12-16 inch</span>
                        </div>
                        <div class="shopFilter-row">
                            <span><input type="checkbox" id="16+" name="16+" value="16-100">+16 inch</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="products" id="products"></div>
            <div id="productsModal" class="productsModal">
                <div class="productsModal-content">
                  <span class="productsModal-close">&times;</span>
                  <div id="products_info" class="products_info"></div>
                </div>
              </div>
        </div>
    </main>
    <script src="./js/main.js"></script>
    <script src="./js/slider.js"></script>
</body>
</html>



